body {
	margin: 0px auto;
	background-color: #efefef;
}

#container {
	width: 400px;
	height: 170px;
	background-color: #fcfcfc;

	margin:100 auto;
	top: 300px;
}

#container2 {
	width: 400px;
	height: 180px;
	background-color: #fcfcfc;

	margin:100 auto;
	top: 300px;
}

#title_area {
	height: 30px;
	background-color: #06abe2;
	text-align: center;
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	vertical-align: middle;
	line-height: 30px;
}

#text_area {
	width: 100%;
	height: 100%;

	color: #515151;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#text_area table {
	margin: 20 auto;
	color: #515151;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
